* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 600px;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 25px;
}

.heading h1 {
    color: white;
}

.question h2 {
    color: aliceblue;
    margin-top: 20px;
    font-size: 18px;
}

.option {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
}

.option button {
    margin: 5px;
    border: none;
    border-radius: 50px;
    height: 50px;
    color: black;
}

.option button:hover, .next button:hover{
    background: #aaa;
    color: black;
}

.next {
    display: flex;
    justify-content: center;
    align-items: center;
}
.next button {
    width: 100px;
    margin-top: 5px;
    border: none;
    border-radius: 50px;
    height: 40px;
}